# Sample .travis.yml for R projects

language: r
sudo: false
r_check_args: "--no-build-vignettes"
cache: packages
r:
  - oldrel
  - release
  - devel

warnings_are_errors: false



after_success:
  - Rscript -e 'library(covr);codecov()'
